<header>
  <nav class="be-red white is-fullheight-with-navbar">
    <ul class="row has-text-centered  middle-xs">
      <li class="white navbar-item column">
        <h1 class="no-margin" id="logo"><%= link_to "RubyBlog", root_path %></h1>
      </li>
      <li class="white navbar-item column">
        <%= link_to "Artículos", articles_path %>
      </li>
      <% @categories.each do |category| %>
        <li class="white navbar-item column">
          <%= link_to category.name,category %>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li class="white navbar-item column">
          <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
        </li>
      <%else%>
        <li class="white navbar-item column">
          <%= link_to "Iniciar sesión", new_user_session_path%>
        </li>
        <li class="white navbar-item column">
          <%= link_to "Registrarse", new_user_registration_path%>
        </li>
      <%end %>
    </ul>
  </nav>
</header>